<div class="nested-fields col s12 m6 l4">
  <div class="card white darken-1">
    <div class="card-content black-text">
      <span class="card-title"><%= f.object.name %></span>

      <div class="input-group clockpicker">
        <%= f.text_field :start_time %>
      </div>

      <div class="input-group clockpicker">
        <%= f.text_field :end_time %>
      </div>

      <%= f.check_box :enabled %>
      <%= f.label :enabled %> <br/>

    </div>
  </div>
</div>