<%= simple_form_for(@holiday) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :day, as: :string, input_html: {class: 'datepicker'} %>
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= link_to 'Back', holidays_path, class: 'btn' %>
    <%= f.button :submit %>
  </div>
<% end %>
