<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-content">
    <p>
      <strong>Day:</strong>
      <%= @holiday.day %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @holiday.name %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>
