<%= simple_form_for(@employee) do |f| %>
    <% if @employee.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

          <ul>
            <% @employee.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="input-field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="input-field">
      <%= f.label :sex, class: 'active' %>
      <%= f.select(:sex) do %>
          <% [['male', 'male'], ['female', 'female']].each do |c| %>
              <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
      <% end %>
    </div>

    <div class="input-field">
      <%= f.label :birthdate, class: 'active' %>
      <%= f.date_field :birthdate, :class => "datepicker" %>
    </div>

    <div class="input-field">
      <%= f.label :joindate, class: 'active' %>
      <%= f.date_field :joindate, :class => "datepicker" %>
    </div>

    <div class="input-field">
      <%= f.label :leavedate, class: 'active' %>
      <%= f.date_field :leavedate, :class => "datepicker" %>
    </div>

    <div class="input-field">
      <%= f.association :pay_scheme %>
    </div>

    <div class="input-field">
      <%= f.label :bankdetails %>
      <%= f.text_field :bankdetails %>
    </div>

    <div class="actions">
      <%= f.submit class: "waves-effect waves-light btn" %>
    </div>

<% end %>
