<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @employee.sex %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @employee.birthdate %>
</p>

<p>
  <strong>Joindate:</strong>
  <%= @employee.joindate %>
</p>

<p>
  <strong>Leavedate:</strong>
  <%= @employee.leavedate %>
</p>

<p>
  <strong>Bankdetails:</strong>
  <%= @employee.bankdetails %>
</p>

<table>
  <thead>
  <tr>
    <th>Date in</th>
    <th>Date out</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @timelogs.each do |timelog| %>
      <tr>
        <td><%= timelog.date_in %></td>
        <td><%= timelog.date_out %></td>
        <td><%= link_to 'Show', timelog %></td>
        <td><%= link_to 'Edit', edit_timelog_path(timelog) %></td>
        <td><%= link_to 'Destroy', timelog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
