<%= simple_form_for(@timelog) do |f| %>
  <% if @timelog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timelog.errors.count, "error") %> prohibited this timelog from being saved:</h2>

      <ul>
      <% @timelog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_in %><br>
    <%= f.datetime_select :date_in %>
  </div>
  <div class="field">
    <%= f.label :date_out %><br>
    <%= f.datetime_select :date_out %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.association :employee, collection: Employee.order(:name), prompt: 'Choose an employee' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
