<p id="notice"><%= notice %></p>

<p>
  <strong>Date in:</strong>
  <%= @timelog.date_in %>
</p>

<p>
  <strong>Date out:</strong>
  <%= @timelog.date_out %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @timelog.employee %>
</p>

<%= link_to 'Edit', edit_timelog_path(@timelog) %> |
<%= link_to 'Back', timelogs_path %>
