<%= simple_form_for(@time_log) do |f| %>
    <%= f.error_notification %>

    <div class="input-field">
      <%= f.label :date_time_in_date_field, "Start Date" %>
      <%= f.text_field :date_time_in_date_field, class: "datepicker" %>
    </div>
    <div class="input-field">
      <%= f.label :date_time_in_time_field, "Start Time", class: 'active' %>
      <div class="input-group clockpicker">
        <%= f.text_field :date_time_in_time_field %>
        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                      </span>
      </div>

    </div>
    <div class="input-field">
      <%= f.label :date_time_out_date_field, "End Date" %>
      <%= f.text_field :date_time_out_date_field, class: "datepicker" %>
    </div>
    <div class="input-field">
      <%= f.label :date_time_out_time_field, "End Time", class: 'active' %>
      <div class="input-group clockpicker">
        <%= f.text_field :date_time_out_time_field %>
        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                      </span>
      </div>

    </div>
    <div class="input-field">
      <%= f.label :employee, class: 'active' %>
      <%= f.association :employee, label: false %>
    </div>
    <div class="input-field">
      <%= f.label :pay_scheme, class: 'active' %>
      <%= f.association :pay_scheme, label: false %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
