<%= simple_form_for(@time_log) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :date_in %>

    <%= f.input :date_out %>

    <%= f.association :employee %>

    <%= f.association :pay_scheme %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
