<h1>Configure Workdays</h1>

<div class="row config-edit-form">
  <%= simple_form_for(@config) do |f| %>
      <%= f.error_notification %>
      <div class="fixed-action-btn">
        <%= button_tag type: :submit, class: "btn-floating btn-large red lighten-1", data: {disable_with: "Wait"} do %>
            <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Save">insert_drive_file</i>
        <% end %>
      </div>

      <div>
        <div class="form-inputs">
          <div class="card">
            <div class="card-content group-card">
              <div class="card-title">Config</div>
              <%= f.input :auto_adjust_to_workday %>
              <!--<%= f.input :ignore_early_check_in %>-->
              <div class="row">
                <p class="range-field col s12 m6 l6">
                  <%= f.input :lower_timing_tolerance, wrapper: false, label: 'if early by (minutes)', collection: 0..59, selected: f.object.lower_timing_tolerance %>
                </p>
                <p class="range-field col s12 m6 l6">
                  <%= f.input :upper_timing_tolerance, wrapper: false, label: 'if late by (minutes)', collection: 0..59, selected: f.object.upper_timing_tolerance %>
                </p>
              </div>
            </div>
          </div>
          <%= f.simple_fields_for :workdays do |workday| %>
              <%= render 'workday_fields', f: workday %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>