<h1>Set Workdays</h1>
<body>
<%= form_tag config_update_path do %>
    <div class="row">
      <% @workdays.each do |workday| %>
          <%= fields_for "workdays[]", workday do |wf| %>

              <div class="col s6">
                <div class="card white darken-1">
                  <div class="card-content black-text">

                    <span class="card-title"><%= workday.name %></span>

                    <div class="input-group clockpicker">
                      <%= wf.text_field :start_time %>
                      <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>

                    <div class="input-group clockpicker">
                      <%= wf.text_field :end_time %>
                      <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                      </span>
                    </div>

                    <%= wf.check_box :enabled %>
                    <%= wf.label :enabled %> <br/>

                  </div>
                </div>
              </div>

          <% end %>
      <% end %>
    </div>
    <div class="fixed-action-btn">
      <%= button_tag type: :submit, class: "btn-floating btn-large" do %>
          <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Save Work Days">save</i>
      <% end %>
    </div>
<% end %>