<p id="notice"><%= notice %></p>

<div class="card blue-grey darken-1">
  <div class="card-content white-text">
    <span class="card-title">Details</span>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @payment_record_pay_scheme.name %>
    </p>

    <p>
      <strong>Pay type:</strong>
      <%= @payment_record_pay_scheme.try(:pay_type).try(:name) %>
    </p>

    <p>
      <strong>Pay:</strong>
      <%= @payment_record_pay_scheme.pay %>
    </p>

    <p>
      <strong>Ot Pay Type:</strong>
      <%= @payment_record_pay_scheme.ot_type %>
    </p>

    <p>
      <strong>Pay ot:</strong>
      <%= @payment_record_pay_scheme.pay_ot %>
    </p>

    <p>
      <strong>Pay ot multiplier:</strong>
      <%= @payment_record_pay_scheme.ot_multiplier %>
    </p>

    <p>
      <strong>Ot Start Time:</strong>
      <%= @payment_record_pay_scheme.ot_time_range_start %>
    </p>

    <p>
      <strong>Ot End Time:</strong>
      <%= @payment_record_pay_scheme.ot_time_range_end %>
    </p>

    <p>
      <strong>Public Holiday Pay Type</strong>
      <%= @payment_record_pay_scheme.public_holiday_type %>
    </p>

    <p>
      <strong>Pay public holiday:</strong>
      <%= @payment_record_pay_scheme.pay_public_holiday %>
    </p>

    <p>
      <strong>Pay Public Holiday Multiplier</strong>
      <%= @payment_record_pay_scheme.public_holiday_multiplier %>
    </p>

    <p>
      <strong>Weekend Pay Type</strong>
      <%= @payment_record_pay_scheme.weekend_type %>
    </p>

    <p>
      <strong>Pay Weekend:</strong>
      <%= @payment_record_pay_scheme.pay_weekend %>
    </p>

    <p>
      <strong>Weekend Pay Multiplier</strong>
      <%= @payment_record_pay_scheme.weekend_multiplier %>
    </p>

  </div>
</div>

<%= link_to 'Edit', edit_payment_record_pay_scheme_path(@payment_record_pay_scheme) %> |
<%= link_to 'Back', payment_record_pay_schemes_path %>
