<h1>Payslip's Pay Scheme</h1>
<div class="row">
  <div class="right">
    <%= link_to 'Back', :back, class: 'btn' %>
  </div>
</div>
<div class="row">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Details</span>

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @payment_record_pay_scheme.name %>
      </p>

      <p>
        <strong>Type:</strong>
        <%= @payment_record_pay_scheme.pay_type.try(:titleize) %>
      </p>

      <p>
        <strong>Pay:</strong>
        <%= @payment_record_pay_scheme.pay %>
      </p>

      <p>
        <strong>Work Hours:</strong>
        <%= @payment_record_pay_scheme.hours_per_day %> hrs per day
      </p>

      <div class="card blue-grey darken-1">
        <div class="card-content">
          <div class="card-title">OT</div>
          <p>
            <strong>Pay Type:</strong>
            <%= @payment_record_pay_scheme.ot_type.try(:titleize) %>
          </p>

          <% if @payment_record_pay_scheme.ot_type == 'per_hour' %>
              <p>
                <strong>Pay ot:</strong>
                <%= @payment_record_pay_scheme.pay_ot %>
              </p>
          <% end %>

          <% if @payment_record_pay_scheme.ot_type == 'multiplier' %>
              <p>
                <strong>Pay ot multiplier:</strong>
                <%= @payment_record_pay_scheme.ot_multiplier %> X
              </p>
          <% end %>

        </div>
      </div>

      <div class="card blue-grey darken-1">
        <div class="card-content">
          <div class="card-title">Weekend</div>
          <p>
            <strong>Pay Type: </strong>
            <%= @payment_record_pay_scheme.weekend_type.try(:titleize) %>
          </p>

          <% if @payment_record_pay_scheme.weekend_type == 'per_hour' %>
              <p>
                <strong>Pay Weekend:</strong>
                <%= @payment_record_pay_scheme.pay_weekend %>
              </p>
          <% end %>
          <% if @payment_record_pay_scheme.weekend_type == 'multiplier' %>
              <p>
                <strong>Weekend Pay Multiplier:</strong>
                <%= @payment_record_pay_scheme.weekend_multiplier %> X
              </p>
          <% end %>

        </div>
      </div>

      <div class="card blue-grey darken-1">
        <div class="card-content">
          <div class="card-title">Public Holiday</div>
          <p>
            <strong>Pay Type: </strong>
            <%= @payment_record_pay_scheme.public_holiday_type.try(:titleize) %>
          </p>

          <% if @payment_record_pay_scheme.public_holiday_type == 'per_hour' %>
              <p>
                <strong>Pay public holiday:</strong>
                <%= @payment_record_pay_scheme.pay_public_holiday %>
              </p>
          <% end %>
          <% if @payment_record_pay_scheme.public_holiday_type == 'multiplier' %>
              <p>
                <strong>Pay Public Holiday Multiplier:</strong>
                <%= @payment_record_pay_scheme.public_holiday_multiplier %> X
              </p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>