<%= simple_form_for(@pay_scheme) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="card white darken-1 ">
        <div class="card-content black-text">
          <span class="card-title black-text">Pay Details</span>

          <div class="row">
            <div class="col s6">
              <%= f.input :name %>
            </div>
            <div class="col s6">
              <%= f.input :hours_per_day %>
            </div>
          </div>

          <div class="row">
            <div class="col s6">
              <%= f.input :pay_type, collection: [["Hourly", "hourly"], ["Monthly", "monthly"]] %>
            </div>
            <div class="col s6">
              <%= f.input :pay %>
            </div>
          </div>

        </div>
      </div>


      <div class="card white darken-1">
        <div class="card-content black-text">
          <span class="card-title black-text">Ot Pay Details</span>

          <div class="row">
            <div class="col s6">
              <%= f.input :ot_type, collection: [['Per Hour', 'per_hour'], ['Multiplier', 'multiplier'], ['Same As Normal', 'same_as_normal']] %>
            </div>
            <div id="pay_scheme_ot_multiplier_div">
              <div class="col s6">
                <%= f.input :ot_multiplier %>
              </div>
            </div>
            <div id="pay_scheme_pay_ot_div">
              <div class="col s6">
                <%= f.input :pay_ot %>
              </div>
            </div>
          </div>

          <!--Uncomment when pay scheme supports ot time ranges-->
          <!--<div id="pay_scheme_ot_time_div">-->
          <!--If you have a specific time range that you use as OT, Please specify. If not leave this blank.-->
          <!--<div class="row">-->
          <!--<div class="col s6">-->
          <!--<%= f.input :ot_time_range_start, label: "Ot Start Time", as: :string, input_html: {class: "timepicker", value: f.object.try(:ot_time_range_start).try(:strftime, "%I:%M %p") || ""} %>-->
          <!--</div>-->
          <!--<div class="col s6">-->
          <!--<%= f.input :ot_time_range_end, label: "Ot End Time", as: :string, input_html: {class: "timepicker", value: f.object.try(:ot_time_range_end).try(:strftime, "%I:%M %p") || ""} %>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

        </div>
      </div>

      <div class="card white darken-1">
        <div class="card-content black-text black-text">
          <span class="card-title black-text">Weekend Pay Details</span>

          <div class="row">
            <div class="col s6">
              <%= f.input :weekend_type, collection: [['Per Hour', 'per_hour'], ['Multiplier', 'multiplier'], ['Same As Normal', 'same_as_normal']] %>
            </div>
            <div id="pay_scheme_w_multiplier_div">
              <div class="col s6">
                <%= f.input :weekend_multiplier %>
              </div>
            </div>
            <div id="pay_scheme_pay_w_div">
              <div class="col s6">
                <%= f.input :pay_weekend %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="card white darken-1">
        <div class="card-content black-text black-text">
          <span class="card-title black-text">Public Holiday Pay Details</span>

          <div class="row">
            <div class="col s6">
              <%= f.input :public_holiday_type, collection: [['Per Hour', 'per_hour'], ['Multiplier', 'multiplier'], ['Same As Normal', 'same_as_normal']] %>
            </div>
            <div id="pay_scheme_ph_multiplier_div">
              <div class="col s6">
                <%= f.input :public_holiday_multiplier %>
              </div>
            </div>
            <div id="pay_scheme_pay_ph_div">
              <div class="col s6">
                <%= f.input :pay_public_holiday %>
              </div>
            </div>
          </div>

        </div>
      </div>


    <div class="form-actions">
      <%= link_to 'Back', pay_schemes_path, class: 'btn' %>
      <%= f.button :submit %>
    </div>


<% end %>