<%= simple_form_for(@pay_scheme) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="card white darken-1 ">
        <div class="card-content black-text">
          <span class="card-title black-text">Pay Details</span>

          <div class="row">
            <div class="col s6">
              <%= f.input :name, :required => true %>
            </div>
          </div>

          <div class="row">
            <div class="col s6">
              <%= f.association :pay_type %>
            </div>
            <div class="col s6">
              <%= f.input :pay %>
            </div>
          </div>

        </div>
      </div>


      <div class="card white darken-1">
        <div class="card-content black-text">
          <span class="card-title black-text">Ot Pay Details</span>

          <div class="row">
            <div class="col s6">
              <%= f.association :ot_type, default:  f.object.ot_type || 'None' %>
            </div>
            <div id="pay_scheme_ot_multiplier_div">
              <div class="col s6">
                <%= f.input :ot_multiplier %>
              </div>
            </div>
            <div id="pay_scheme_pay_ot_div">
              <div class="col s6">
                <%= f.input :pay_ot %>
              </div>
            </div>
          </div>

          <div id="pay_scheme_ot_time_div">
            <div class="row">
              <div class="col s6">
                <%= f.label :ot_time_range_start, "Ot Start Time", class: 'active' %>
                <%= f.time_field :ot_time_range_start, :class => "timepicker" %>
              </div>
              <div class="col s6">
                <%= f.label :ot_time_range_end, "Ot End Time", class: 'active' %>
                <%= f.time_field :ot_time_range_end, :class => "timepicker" %>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="card white darken-1">
        <div class="card-content black-text black-text">
          <span class="card-title black-text">Public Holiday Pay Details</span>

          <div class="row">
            <div class="col s6">
              <%= f.association :public_holiday_type, default:  f.object.public_holiday_type || 'None' %>
          </div>
            <div id="pay_scheme_ph_multiplier_div">
              <div class="col s6">
                <%= f.input :public_holiday_multiplier %>
              </div>
            </div>
            <div id="pay_scheme_pay_ph_div">
              <div class="col s6">
                <%= f.input :pay_public_holiday %>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="card white darken-1">
        <div class="card-content black-text black-text">
          <span class="card-title black-text">Weekend Pay Details</span>

          <div class="row">
            <div class="col s6">
              <%= f.association :weekend_type, default:  f.object.weekend_type || 'None' %>
            </div>
            <div id="pay_scheme_w_multiplier_div">
              <div class="col s6">
                <%= f.input :weekend_multiplier %>
              </div>
            </div>
            <div id="pay_scheme_pay_w_div">
              <div class="col s6">
                <%= f.input :pay_weekend %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>


<% end %>