<p id="notice"><%= notice %></p>

<h1>Listing Pay Schemes</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Pay type</th>
    <th>Pay</th>
    <th>Pay ot</th>
    <th>Pay public holiday</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @pay_schemes.each do |pay_scheme| %>
      <tr>
        <td><%= pay_scheme.name %></td>
        <td><%= pay_scheme.try(:pay_type).try(:name)%></td>
        <td><%= pay_scheme.pay %></td>
        <td><%= pay_scheme.pay_ot %></td>
        <td><%= pay_scheme.pay_public_holiday %></td>
        <td>
          <%= link_to pay_scheme do %>
              <i class="material-icons">pageview</i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_pay_scheme_path(pay_scheme) do %>
              <i class="material-icons">edit</i>
          <% end %>
        </td>
        <td>
          <%= link_to pay_scheme, method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="material-icons">delete</i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pay scheme', new_pay_scheme_path, class: "waves-effect waves-light btn" %>