<div class="fixed-action-btn">
  <a class="btn-floating btn-large">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li><%= link_to new_payment_record_path, class: "btn-floating grey" do %>
          <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Generate Multiple">playlist_add</i>
      <% end %></li>
    <li><%= link_to new_payment_record_path, class: "btn-floating grey" do %>
          <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Generate Single Slip">bookmark_border</i>
      <% end %></li>
  </ul>
</div>
<h1>Listing Payment Slips</h1>
<div class="right">
  <%= paginate @payment_records %>
</div>
<table class="striped bordered highlight">
  <thead>
  <tr>
    <th>ID</th>
    <th>Employee Name</th>
    <th>Date Range Selected</th>
    <th>Sessions</th>
    <th>Status</th>
    <th>Amount ($)</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @payment_records.each do |payment_record| %>
      <tr>
        <td><%= payment_record.id %></td>
        <td><%= payment_record.try(:employee).try(:name) %></td>
        <td><%= payment_record.date_range_selected %></td>
        <td><%= payment_record.payment_record_time_logs.count %></td>
        <td><%== payment_record.paid ? "<span class=\"yes\">Paid on: #{payment_record.paid_at.to_formatted_s(:long)}</span>" : "<span class=\"no\">Unpaid</span>" %></td>
        <td><%= payment_record.total_pay %></td>
        <td>
          <%= link_to payment_record do %>
              <i class="material-icons">pageview</i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_payment_record_path(payment_record) do %>
              <i class="material-icons">edit</i>
          <% end %>
        </td>
        <td><%= link_to payment_record, method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="material-icons">delete</i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="right">
  <%= paginate @payment_records %>
</div>