<h1>Payment Slip Details</h1>
<div class="row">
  <div class="right">
    <%= link_to 'Edit', edit_payment_record_path(@payment_record), class: 'btn' %>
    <%= link_to 'Back', payment_records_path, class: 'btn' %>
  </div>
</div>
<div class="row">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Details</span>

      <p><strong>Employee: </strong><%= @payment_record.employee.name %></p>

      <p><strong>Total pay: </strong><%= @payment_record.total_pay %></p>

      <p><strong>Bonus: </strong><%= @payment_record.bonus %></p>

      <p>
        <strong>Status: </strong><%= @payment_record.paid ? 'Paid on ' + @payment_record.paid_at.to_formatted_s(:long) : 'Unpaid' %>
      </p>
    </div>
  </div>

  <div class="card white darken-1">
    <div class="card-content">
      <span class="card-title black-text">Time Log</span>
      <table>
        <thead>
        <tr>
          <th>Date in</th>
          <th>Date out</th>
          <th>Pay scheme</th>
          <th>Session Pay</th>
          <th>Remarks</th>
        </tr>
        </thead>

        <tbody>
        <% @payment_record.payment_record_time_logs.each do |time_log| %>
            <tr>
              <td><%= time_log.date_time_in.to_formatted_s(:long) %></td>
              <td><%= time_log.date_time_out.to_formatted_s(:long) %></td>
              <td><%= time_log.payment_record_pay_scheme.name %></td>
              <td><%= number_to_currency time_log.pay%></td>
              <td><%= time_log.remarks %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

