<nav class="#00838f cyan darken-3">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= active_link_to 'Employees', employees_path, wrap_tag: :li %></li>
      <li><%= active_link_to 'Pay Slips', payment_records_path, wrap_tag: :li %></li>
      <li><%= active_link_to 'Time Log', time_logs_path, wrap_tag: :li %></li>
      <li><%= active_link_to 'Pay Schemes', pay_schemes_path, wrap_tag: :li %></li>
      <li><%= active_link_to 'Logout', destroy_admin_session_path, method: :delete, wrap_tag: :li %></li>

    </ul>
  </div>



<ul id="slide-out" class="side-nav fixed">
  <li><a href="#">Logo</a></li>
  <li><a href="#!">First Sidebar Link</a></li>
  <li><a href="#!">Second Sidebar Link</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">First</a></li>
            <li><a href="#!">Second</a></li>
            <li><a href="#!">Third</a></li>
            <li><a href="#!">Fourth</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>
</nav>