<!DOCTYPE html>
<html>
<head>
  <title>FingerPress</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<% if admin_signed_in? %>
    <%= render 'layouts/navbar' %>
<% else %>
    <%= render 'layouts/navbar_unauthenticated' %>
<% end %>
<div class="container">
  <%= flash_messages %>
  <%= yield %>
</div>
<div class="cssload-preloader">
  <span>L</span>
  <span>o</span>
  <span>a</span>
  <span>d</span>
  <span>i</span>
  <span>n</span>
  <span>g</span>

</div>
</body>
</html>
