<!DOCTYPE html>
<html>
<head>
  <title>FingerPress</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<% if admin_signed_in? %>
    <%= render 'layouts/navbar' %>
<% else %>
    <%= render 'layouts/navbar_unauthenticated' %>
<% end %>
<div class="container">
  <div class="materialize-preloader center-align">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <%= flash_messages %>
  <%= yield %>
</div>

</body>
</html>
